#table{
    height: 81px ;
    width: 709px ;
    margin-top: 26px;
   padding-left: 100px;
   padding-right: 50px;
   align-items: center;
   justify-content: space-around;
   gap:30px;
    background-color: #D9D9D9;
    margin-left:300px;
    font-size: 25px;
}
#tblleft{

    margin-left:50px;
}
#Homepage{

    stroke:#D9CFCD;
    font-size: 27px;
}

#upper{

    width: 1026;
    height:109;
    justify-content: center;
    align-items: center;
    margin-top:-43px;
    
}

#buttonss{
    margin-left: 120px;
    gap: 10px;
    font-size: 300px;
    margin-top: -340px;
    
}
#Homepage:hover{
    color: aqua;
    
    
}
#mainh1{
    font-size:27px;
    }
#mainh12{

    margin-left: 750px;
    margin-bottom: 70px;
    margin-top: -70px;
    font-size: 27px;

}    

.title1{
    display: flex;
    justify-content: center;
    margin-right: 200px;
    margin-top: -70px;
}

#wrapper{
    
    display: flex;
    
    width:700px;
    height:auto;
    margin-left:450px;
    margin-top: -30px;
    background-color: #D9D9D9;
    border-style: solid;
    justify-content: center;
   
}
.Matches1{


font-size: 25px;
width:650px;


justify-content: space-between;
align-items: center;






}


  .Item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: solid black 1px;
   height:100px;
    background-color:#CFB7B7 ;
    justify-content:space-around;
    
  } 
    
    
    
    
    

#matchesinside{
    margin-left: 50px;
}
.info{
    margin-top: -80px;
    margin-bottom:90px;
    margin-left: 800px;
}

